/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-italic - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v21-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-600 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v21-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-700 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-900 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/source-sans-pro-v21-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v21-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


html,
body {
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0
}

/* height:100% is actually required to set a div height to a percentage */
body {
    font-family: "Source Sans Pro";
    background-color: #202b61;
    overflow: hidden;
}

h1 {
    color: #fff;
    font-size:1.5em;
    font-weight: 700;
}

span.coursedata {
    font-size: 70%;
    font-style: italic;
    margin-left: 1em;
}

/* START/RESULT LIST */
#radaheader {
    height: 2em;
    width: 100%;
    overflow: hidden;
    margin: 0.5em;
    font-weight: bold;
    
}

.classheader h2 i {
    font-weight: 400;
    font-size: 0.7em;
}

#radaspace {
    height: calc(100% - 2.4em);
    width: 100%;
    overflow: hidden;
}

.radacol {
    position: absolute;
    top: 2em;
    box-sizing: border-box;
    padding: 1em;
}

.radapage {
    height: 100%;
    width: 100%;
}

table.radalist {
    background-color: #fff;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table.radalist tr.even {
    background: #ddd;
}

table.radalist tr.odd {
    background: #fff;
}

table.radalist td {
    padding: 0.2em 0.5em;
    overflow: hidden;
    white-space: nowrap;
    font-size: 170%;
    color: #111;
}

td.col_stno {
    width: 6%;
}

td.col_place {
    width: 6%;
    text-align: right;
    font-weight: 700;
}

td.col_place_overall {
    width: 6%;
    text-align: right;
    font-style: italic;
}

td.col_nat {
    width: 1.5em;
}

td.col_name {
    width: 37%;
    font-weight: 700;
}

td.col_club {
    width: 34%;

}

td.col_time {
    width: 18%;
    text-align: right;
    font-weight: 700;

}

table.radalist td.col_after {
    width: 10%;
    font-style: italic;
    font-size: 130%;
    text-align: right
}

td.col_time_overall {
    width: 18%;
    font-style: italic;
    text-align: right
}

h1 {
    margin: 0.1em 0;
    display: inline
}

h2 {
    margin-top: 0;
    margin-bottom: 0.1em;
    font-size: 2em;
}

.gap {
    margin-top: 2em
}

.flag {
    position: relative;
    height: 1em;
    width: 1.5em;
    border: none
}

.flag img {
    height: 100%;
    width: 100%;
    border: none;
}

#timestamp {
    background-color: chartreuse;
    padding:0.1em;
    font-weight: normal;
    bottom:0em;
    left:1em;
    position: absolute;
    font-size: 0.7em;

}

.classheader {
    color: white;
}

.highlight {
    background-color: yellow
}

#ip {
    bottom: 0;
    right: 1em;
    position: absolute;
    padding:0.1em;
    font-size: 0.7em;
    color:#aaa
}

progress {
    background-color: #f3f3f3;
    border: 0;
    width: 100%;
    height: 8px;
    top: 0;
    left: 0;
    position: absolute;
}

progress::-webkit-progress-value {
    background: #f15d07;
}

progress::-moz-progress-bar {
    background: #f15d07;
}

img#logo {
    top:1em;
    right:1em   ;
    position: absolute;
    height:60px;
    background-color: #fff;
}
